<h1>Getting Started with Ruby - Testing gogo Cowsay but this is for the remote a second time</h1>

<p>
  Welcome!
</p>

<pre>
<%= Cowsay.say("Hello") %>
</pre>

<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World Man!!#<%= i %>!</p>
<% end %>

<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World Man!!#<%= i %>!</p>
<% end %>

<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 5) do %>
  <p>Hello World Man!!#<%= i %>!</p>
<% end %>
